---
title: More voter rights
component: ContentPage
published: Published
weight: 2
section: My Rights as a Voter
priority: Minor
---
<p>Other important voter rights in California are:</p>
<ul>
<li><strong>Address confidential:</strong> You may have your residence address declared confidential upon order of a superior court or upon presentation of certification that you are a participant in the Address Confidentiality for Victims of Domestic Violence and Stalking program (CA Election Code sections: 2166 and 2166.5). During the period when your address is confidential you will be required to&nbsp;<a href="https://cavotes.org/vote/mail.html">vote by mail</a>.</li>
</ul>
<ul>
<li><strong>Cassette:</strong> You may request a cassette tape of the State Ballot pamphlet by ordering&nbsp;<a class="ext" href="http://www.ss.ca.gov/elections/elections_audio.htm" target="_blank">online</a>&nbsp;or by calling 1-800-345-VOTE.</li>
</ul>
<ul>
<li><strong>Moved within 14 days:</strong> If you are registered to vote in California and you moved within 14 days prior to an election you are entitled to vote in the precinct in which you are registered in that election only.</li>
</ul>
<ul>
<li><strong>Paid time off to vote:</strong> Employees are eligible for paid time off from work for the purpose of voting only if they do not have sufficient time outside of working hours to vote. Voting hours are from 7 a.m. to 8 p.m. Employees can be given as much time as they need in order to vote, but a maximum of only two hours is paid. The employer may require advance notice if the employee wishes to take time off to vote.</li>
</ul>
<ul>
<li><strong>An accessible polling place:</strong> If your polling place is accessible to the disabled there will be a symbol on the back cover of your sample ballot (<em>Voter Information Pamphlet</em>). If your polling place is not accessible you may request to be assigned to another polling place that is accessible. Call your&nbsp;<a class="ext" href="http://www.ss.ca.gov/elections/elections_d.htm" target="_blank">County Elections Official</a>.</li>
</ul>
<ul>
<li><strong>Curbside voting:</strong> Election officials at your polling place will bring voting materials to your car if you are unable to get into the polling place.</li>
</ul>
<ul>
<li><strong>Assistance:</strong> You may have help filling out your voter registration application form. If you cannot write or cannot sign your name you may have someone fill out the form for you, but you must "sign" the application with a mark or a cross. The person helping you must sign their name and the date below your signature or your mark. If you cannot read the ballot or cannot mark the ballot you may choose two people (relatives, friends, pollworkers) to mark your ballot for you at your direction. You may not choose your employer, your employer's agent, your labor union leader or agent. This is for your protection so that you may vote for whom you choose.</li>
</ul>
<ul>
<li><strong>Vote by Mail:</strong> You may&nbsp;<a href="https://cavotes.org/vote/mail.html">request a vote-by-mail ballot</a>&nbsp;from your County Elections Official.</li>
</ul>
<ul>
<li><strong>Early Voting:</strong> You may vote at the office of the&nbsp;<a class="ext" href="http://www.ss.ca.gov/elections/elections_d.htm" target="_blank">County Elections Official</a>&nbsp;on election day and some days prior to election day.</li>
</ul>
<ul>
<li><strong>No babysitter</strong>: If you cannot find babysitting for your children under the age of 13 they may go into the voting booth with you.</li>
</ul>
<ul>
<li><strong>In line at 8 p.m.:</strong> If you are waiting in line to vote at 8 p.m. when the polls close you must be allowed to vote</li>
</ul>
