---
title: Voting is easy as 1-2-3
component: ContentPage
published: Published
weight: 4
section: Voting Basics
priority: Minor
---
<h1>1. Sign up to vote</h1>
<p><strong>You can sign up to voteif you are:</strong></p>
<ul>
<li>18 years or older by Election Day</li>
<li>a U.S. citizen</li>
<li>not in prison or on parole for a felony</li>
</ul>
<p><strong>To sign up to vote, get a registration form: </strong></p>
<ul>
<li>Fill out the form online at www.registertovote.ca.gov in English, Spanish, Chinese, Hindi, Japanese, Khmer, Korean, Tagalog, Thai, or Vietnamese.</li>
<li>Or call 1-800-345-8683 to have the form sent to you.</li>
<li>Or pick one up at the library, post office, or DMV. There is no cost to register. Fill out the form completely and mail it in. You will be asked to include your driver&rsquo;s license number or other identification.</li>
</ul>
<p><strong>When should I sign up?</strong></p>
<ul>
<li>Sign up (register) by October 20, 2014 to vote in the November 4, 2104 election.</li>
<li>If you are already registered, you need to fill out a new form only if you move, change your name, or want to change your choice of political party.</li>
</ul>
<h1>2. Get ready to vote</h1>
<p><strong>Get informed </strong></p>
<p>Before you vote, get to know about the issues and candidates in this election. You do not have to vote on everything. You can just vote on the things you most care about.</p>
<p>To help you prepare, all registered voters get two booklets in the mail:</p>
<ul>
<li>A <em>Sample Ballot</em> that lists all of the candidates and measures that will be on your ballot. It also shows where you vote (your &ldquo;polling place&rdquo;). This booklet is sent by your county elections office.</li>
<li>The <em>Voter Information Guide</em> with information about statewide candidates and ballot measures. This booklet is from the California Secretary of State&rsquo;s Office.</li>
<li>You can also visit the <a href="http://www.easyvoterguide.org">Easy Voter Guide</a> and <a href="http://votersedge.org/?p=california">Voter’s Edge California</a> to learn more about the candidates and propositions on your ballot.</li>
</ul>
<p>All of these resources have nonpartisan information, which means they just give facts and do not take sides about how you should vote. You may also get mail from campaigns or hear advertisements trying to tell you how to vote; these are partisan.</p>
<p><strong>Decide how you will vote </strong></p>
<p>You can choose if you want to vote:</p>
<ol>
<li>At your polling place</li>
<li>At home with a &ldquo;vote by mail&rdquo; ballot</li>
<li>In &ldquo;early voting&rdquo; before election day at locations chosen by your county elections office. Find your polling place by looking at your address label or the back cover of the Sample Ballot from your county elections office. Or, you can look it up at <a href="http://votersedge.org/?p=california">Voter’s Edge California</a>.</li>
</ol>
<h1>3. Go vote!</h1>
<p><strong>What happens if I vote at my polling place?</strong></p>
<ul>
<li>You will be asked your name and for your signature to be able to vote.</li>
<li>If you are a first-time voter, you may be asked to show identification.</li>
<li>The pollworker will give you a paper ballot to mark in a private booth or a card to put into a voting machine.</li>
<li>If your name is not on the list of voters, you can still vote with a &ldquo;provisional&rdquo; ballot. You can ask for the number to call to find out if your vote was counted.</li>
<li>Do not feel rushed, and ask for help if you need it. Ask for another ballot if you need to start over.</li>
</ul>
<p><strong>What if I vote at home with a mail in ballot?</strong>&nbsp;</p>
<ul>
<li>You must apply for a &ldquo;vote by mail&rdquo; ballot in writing. You can sign up when you register to vote or use the application that comes with your Sample Ballot.</li>
<li>Your request must be received by your county elections office by October 28, 2014 to vote in the November 4 election.</li>
<li>After you fill out the ballot be sure to sign it and mail in the completed ballot to arrive by election day. Or, you can drop it off at any polling place in your county. You must sign your ballot for your vote to be counted.</li>
<li>If you change your mind and want to vote at your polling place, you can do that. Just bring your mail-in ballot to trade it in for an in-person ballot. In many counties, you may also be able to vote before election day.</li>
</ul>
<p>Check with your county elections office for early voting locations.</p>