Title: How Do I Vote Early in Person?
Component: ContentPage
Published: Published
Weight: 2
Section: How Do I Vote?
Priority: Minor
Level: Alameda-County

How do I vote early in person in Alameda County?
You can vote in person before Election Day from October 6 through November 3

Monday through Friday, October 6 - November 3, 8:30 AM to 5 PM

Saturday and Sunday, November 1-2, 9AM to 3PM

Early voting location: 
René C. Davidson Courthouse 1225 Fallon Street Room G-1 Oakland, CA 94612 
Get Map 
