---
title: Where do I vote?
component: ContentPage
published: Unpublished
weight: 0
section: Where do I vote?
priority: Major
---
p.
  If you are registered to vote, you can vote in person at your polling location.
p.
  You can also <a href="http://vbm.link.html">vote by mail</a>

  